/* blocks */
body{
 background-color: rgb(242, 242, 233);
}

/* Classes */
.headimg{
  float:none  
}
 .javaScriptResult, .rubyResult, .cResult, .confussedResult, .danceResult{  
  display:none; 
}  

.logo1{
  width: 50%;
  height: auto;
}
.pResult{
  font-size:25px;
}
/* IDs */
#open{
  font-size: 24px;
}
#redText{
  color:red;
}