/* blocks */
body{
 background-color: rgb(242, 242, 233);
}
img{
  /* float:left; */
}

/* Classes */

.headimg{
  float:none
  
}

 .javaScriptResult{  
  display:none; 
}  
.rubyResult{ 
  display:none; 
} 

.cResult{ 
  display:none; 
} 

.confussedResult{ 
  display:none; 
} 

.danceResult{ 
  display:none; 
} 


/* IDs */
.logo1{
  width: 50%;
  height: auto;
}

.pResult{
font-size:25px;
}
#open{
  font-size: 24px;
  
}