/* blocks */



/* Classes */

.javaScriptResult{ 
  display:none; 
} 
.rubyResult{ 
  display:none; 
} 

.cResult{ 
  display:none; 
} 

.confussedResult{ 
  display:none; 
} 

.danceResult{ 
  display:none; 
} 

/* IDs */
.logo1{
  width: 20%;
  height: auto;
}